[Desktop Entry]
Encoding=UTF-8
Name=Link to Installing Bazel on Ubuntu - Bazel
Type=Link
URL=https://docs.bazel.build/versions/master/install-ubuntu.html
Icon=text-html
