[Desktop Entry]
Encoding=UTF-8
Name=Link to Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX AVX2 - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u
Icon=text-html
