[Desktop Entry]
Encoding=UTF-8
Name=Link to Anaconda Python/R Distribution - Free Download
Type=Link
URL=https://www.anaconda.com/distribution/#download-section
Icon=text-html
Name[en_US]=01_Link to Anaconda Python R Distribution - Free Download
