[Desktop Entry]
Encoding=UTF-8
Name=Link to How To Install Anaconda on Ubuntu 18.04 [Quickstart] | DigitalOcean
Type=Link
URL=https://www.digitalocean.com/community/tutorials/how-to-install-anaconda-on-ubuntu-18-04-quickstart
Icon=text-html
Name[en_US]=02 Link to How To Install Anaconda on Ubuntu 18.04 [Quickstart] | DigitalOcean
