[Desktop Entry]
Encoding=UTF-8
Name=Link to Uninstalling Anaconda — Anaconda documentation
Type=Link
URL=https://docs.anaconda.com/anaconda/install/uninstall/
Icon=text-html
